* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inter;
}

body::-webkit-scrollbar {
  display: none;
}

html,
body {
  overflow-x: hidden;
  color-scheme: dark;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.background {
  width: 100vw;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
}

main {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(20px);
  z-index: 2;
  position: absolute;
  top: 0;
}

.content-container {
  width: 90%;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 4rem;
}

.description {
  margin: 0;
  margin-top: 1rem;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  color: #ffffff;
  font-size: 28px;
  font-weight: 900;
  line-height: 1.4;
  word-break: break-word;
}

p {
  font-size: 14px;
  font-weight: 400;
  display: inline;
}

span {
  color: #ffffffb0;
  font-size: 14px;
  font-weight: 500;
  display: inline;
}

.poster {
  min-width: 275px;
  min-height: 415px;
  max-width: 275px;
  max-height: 415px;
  object-fit: cover;
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0em .2em .8em rgba(0, 0, 0, 0.25);
}

.test {
  border: 1px solid transparent;
  box-shadow: 0em .2em .8em rgba(0, 0, 0, 0.25);
  transition: 250ms linear;
}

.test:hover {
  transform: rotateX(2deg) rotateY(0deg) rotateZ(0deg);
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: rgb(38, 103, 255, 0.05);
  box-shadow: 0em .2em .8em rgba(255, 255, 255, 0.25);
  transition: 250ms linear;
}

hr {
  border: 0px;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  margin-top: .8rem;
  margin-bottom: .8rem;
}

.form-holder {
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 2;
  padding: 1rem;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

input,
select {
  background: rgba(255, 255, 255, 0.125);
  border: 1px solid rgba(255, 255, 255, 0.25);
  padding: .4rem;
  border-radius: 50px;
  font-size: 14px;
  cursor: pointer;
  transition: linear 150ms;
  margin: 0rem;
  margin-bottom: .4rem;
  font-weight: 500;
  backdrop-filter: blur(10px) brightness(1.2) contrast(1) saturate(1.4);
}

input:hover,
select:hover {
  border: 1px solid rgba(255, 255, 255, 1);
  transition: linear 150ms;
}

input:focus,
select:focus {
  outline: none;
}

select option {
  background-color: black;
}

::placeholder {
  color: #ffffffa8;
}

button {
  border: 1px solid transparent;
  border-radius: 50px;
  background: #164adb;
  color: #ffffff;
  font-size: 14px;
  padding: .6rem;
  padding-left: .8rem;
  padding-right: .8rem;
  font-weight: 600;
  cursor: pointer;
  transition: linear 150ms;
}

button:hover {
  background: #0b329e;
  transition: linear 150ms;
}

button:active {
  transition: linear 150ms;
}

@media (min-width: 549px) {
  .form-holder {
    width: auto;
  }

  form {
    flex-direction: row;
  }

  input,
  select {
    margin: 0rem;
    margin-right: .8rem;
    width: fit-content;
  }
}

@media (min-width: 999px) {
  h1 {
    font-size: 34px;
  }

  p {
    font-size: 16px;
  }

  .content {
    width: 100%;
    flex-direction: row;
    margin: 0;
    margin-top: 6rem;
    margin-bottom: 4rem;
  }

  .description {
    margin: 0;
    margin-left: 1rem;
  }
}

@media (min-width: 1499px) {
  .content-container {
    width: 70%;
  }
}